.App-header {
  width: 100%;

  background-position: center;
  position: absolute;
	top:0;
	left:0;
	z-index: 1;
}

.header__logo {
  display: flex;
  height: 64px;
  align-items: center;
}

.header__menu {
  width: 100%;
  background-color: #292929;

  color: white;
  padding: 25px 0 25px 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 84px;
  
}
.menu__item a{
  color: white;
}

.header__title {
  color: white;
  font-size: 60px;
  font-family: 'Roboto-Thin';
}

.header__title-bold {
  font-family: 'Roboto-Bold';
}


.header__title {
  margin: auto;
  text-align: left;
  justify-content: center;
  line-height: 84.3px;
}

