.ticket {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 959px;
    box-sizing: border-box;
 }

 .ticket_header-actions {
    margin-top: 36px;
    display: flex;
 }

 .ticket_header-actions.routeBack {
    justify-content: end;
    margin-right: 24px;
 }

 .ticket__header-icon {
    margin-left: 19px;
    margin-right: 10px;
 }

 .ticket_header-button {
    font-weight: 700;
    font-size: 24px;
    color: #292929;
    padding: 0 33px 0 33px;

    border: 1px solid #292929;
    box-sizing: border-box;
    border-radius: 5px;

    background-color: #ffffff;
 }
 .ticket_header-button:hover {
    color: #ffa800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }
 .ticket_header-button:active {
    background: #ffa800;
    color: #292929;
 }

 .train.ticket_header-train {
    background: #f7f6f6;
 }

 .seats .train_logo {
    background: #f7f6f6;
 }

 .seats .train {
    width: 100%;
    box-sizing: content-box;
    box-shadow: none;
    border: none;
    min-width: auto;
    min-height: auto;
    margin-bottom: 40px;
 }

 .seats .train_logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
    padding: 0 15px 0 0;
    position: relative;
 }

 .seats .train_logo::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0px;
    right: 0;

    border: 1px solid #ffffff;
 }

 .seats .train_logo-icon {
    margin: 0 27px 0 35px;
 }

 .seats .train_title {
    width: 153px;
    align-self: auto;
 }

 .seats .train_name {
    margin-bottom: 5px;
    align-self: auto;
 }

 .seats .train_routes {
    width: auto;
    padding: 28px 36px 26px 36px;
    position: relative;
 }

 .seats .train_routes::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0px;
    right: 0;
    bottom: 0;
    border: 1px solid #ffffff;
 }

 .seats .train_route-duration {
    align-self: center;
    margin: 0 54px 0 20px;
 }

 .seats .train_info {
    border: none;
    align-self: center;
    width: auto;
    padding: 0 0 0 35px;
 }



 .seats .train__info-duration {
    margin-left: 10px;
    width: 100px;
 }

 .seats .train_time {
    display: flex;
    align-items: center;
 }

 .ticket {
    margin-bottom: 30px;
 }

 .ticket_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #292929;
    margin-left: 17px;
    margin-top: 27px;
 }
 .ticket_count {
    position: relative;
    margin-bottom: 77px;
 }
 .ticket_count::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: -49px;
    border: 1px dashed #c4c4c4;
 }

 .ticket_count-wrapper {
    display: flex;
 }

 .ticket_count-card {
    width: 33.33%;
    padding: 20px 35px 0 35px;
 }

 .ticket_count-list {
    width: 100%;
    padding: 15px;
    border: 1px solid #928f94;
    border-radius: 5px;

    background-color: #ffffff;

    font-size: 18px;
    line-height: 21px;
    color: #292929;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

 .ticket_count-text {
    margin-top: 23px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 19px;
 }

 .count-child {
    color: #928f94;
 }

 .ticket_count-list::-ms-expand {
    display: none;
 }

 .ticket_class-list {
    list-style-type: none;
    display: flex;
 }

 .ticket_class-item {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .ticket_class-item:nth-child(n + 2) {
    margin-left: 150px;
 }

 .ticket_class-button {
    border: 0;
    background-color: transparent;
 }

 .ticket__class-icon {
    fill: #c4c4c4;
 }

 .ticket_class-name {
    margin-top: 18px;
    font-size: 24px;
    color: #928f94;
 }

 .ticket_class-button--active .ticket__class-icon {
    fill: #ffa800;
 }

 .ticket_class-button--active .ticket_class-name {
    color: #ffa800;
 }

 .ticket_coach-header {
    min-height: 37px;
    background: rgba(255, 168, 0, 0.44);
    display: flex;
    align-items: center;
 }
 .ticket_coach-list {
    display: flex;
    align-items: center;

    list-style-type: none;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    color: #2d2b2f;
 }
 .ticket_coach-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 7px;

    color: #292929;
    cursor: pointer;
 }
 .ticket_coach-item--active {
    color: #ffffff;
 }
 .ticket_coach-numbering {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    margin: 0 20px 0 auto;
 }

 /* --------------*/
.coach-info {
   display: flex;
}
.coach-info-header {
   box-sizing: border-box;
   width: 190px;
   height: 161px;
   background: #ffd98f;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 30px;
}
.coach-number {
   font-style: normal;
   font-weight: 700;
   font-size: 72px;
   line-height: 84px;

   margin: 0;
   color: #292929;
}
.coach-title {
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   margin: 0;
}
.coach-info-card {
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;

   color: #000000;
}
.coach-info-card--seats {
   padding-left: 85px;
}

.coach-info-card--price {
   padding-left: 100px;
   font-weight: 700;
}

.coach-info-card--services {
   padding-left: 100px;
}

.coach-info-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #928f94;
   margin-bottom: 0;
}

.coach-ticket-сurrency {
   height: 17px;
   margin-left: 10px;
}
.coach-info-count {
   color: #000000;
}
.coach-info-text:last-child {
   margin-bottom: 0;
}

.coach-services {
   margin-top: 14px;
}

.service {
   width: 36px;
   height: 34.11px;
   border: 1px solid #292929;
   border-radius: 5px;

   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
}

.service:nth-child(n + 2) {
   margin-left: 13px;
}

.service:hover {
   background-color: #ffa800;
}

.service--active {
   border-color: #fdb935;
   background-color: #fdb935;
}

.service:disabled {
   border-color: #fcdc9d;
   background-color: #fcdc9d;
}

/* .air-service {
   background-image: url('../../../img/tickets/options/air-service.svg');
}

.air-service:disabled {
   background-image: url('../../../img/tickets/options/air-service-disable.svg');
}

.air-service--active {
   background-image: url('../../../img/tickets/options/air-service-active.svg');
}

.wifi-service {
   background-image: url('../../../img/tickets/options/wifi-service.svg');
}

.wifi-service:disabled {
   background-image: url('../../../img/tickets/options/wifi-service-disable.svg');
}

.wifi-service--active {
   background-image: url('../../../img/tickets/options/wifi-service-active.svg');
}

.linens-service {
   background-image: url('../../../img/tickets/options/linen-service.svg');
}

.linens-service:disabled {
   background-image: url('../../../img/tickets/options/linen-service-disable.svg');
}

.linens-service--active {
   background-image: url('../../../img/tickets/options/linen-service-active.svg');
}

.food-service {
   background-image: url('../../../img/tickets/options/food-service.svg');
}

.food-service:disabled {
   background-image: url('../../../img/tickets/options/food-service-disable.svg');
}

.food-service--active {
   background-image: url('../../../img/tickets/options/food-service-active.svg');
} */

.coach-seats-list {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   width: 921px;
   height: 145px;
   background-repeat: no-repeat;
   background-size: cover;
}

.coach-demand {
   margin-left: auto;
   margin-right: 42px;
   width: 199px;
   padding: 16px;
   border-radius: 5px;

   background-color: #f3f3f3;

   font-size: 16px;
   line-height: 19px;
   color: #292929;
}

/* .coach-seats-list--platzcart {
   background-image: url('../../../img/classes/platzcart.png');
}

.coach-seats-list--kupe {
   background-image: url('../../../img/classes/kupe.png');
}

.coach-seats-list--lux {
   background-image: url('../../../img/classes/lux.png');
}

.coach-seats-list--seat {
   background-image: url('../../../img/classes/seat.png');
} */

.coach-seat {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0;
   background-color: #f2f2f2;
}

.coach-seat--active {
   border: 2px solid #ffa800;
}

.coach-seat:disabled {
   background-color: #cccccc;

   color: #ffffff;
}

.coach-seat--top {
   width: 27px;
   height: 30px;
}

.coach-seat--bottom {
   width: 43px;
   height: 24px;
}

.coach-seat--lux {
   width: 26px;
   height: 59px;
}

.coach-seat--single {
   width: 27px;
   height: 19px;
}

.coach-total {
   height: 81px;
}

.coach-total-text {
   margin: 0;
   padding-top: 19px;
   text-align: end;
   padding-right: 38px;
}

.coach-total-value {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   padding-right: 5px;

   color: #ffa800;
}

.coach-total-сurrency {
   height: 17px;
}

/*----------------*/
.seats_title {
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   text-transform: uppercase;

   color: #292929;
   margin: 0 0 62px 0;
}

/* .seats_button {
   margin-left: auto;
   margin-top: 100px;
   height: 60px;
   padding: 0 70px 0 70px;
   font-weight: 700;
   font-size: 24px;
   text-transform: uppercase;
   color: #ffffff;
   background: #ffa800;
   border-radius: 5px;
   border: none;
   position: absolute;
   right: 0;
}
.seats_button:hover {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.seats_button:active {
   color: #ffa800;
   border: 1px solid #ffa800;
   background-color: #e5e5e5;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.seats_buttons {
   height: 183px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 140px;
}
.seats_button {
   height: 60px;
   padding: 0 70px 0 70px;
   font-weight: 700;
   font-size: 24px;
   text-transform: uppercase;
   color: #ffffff;
   background: #ffa800;
   border-radius: 5px;
   border: none;
}

.seats_button:hover {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seats_button:active {
   color: #ffa800;
   border: 1px solid #ffa800;
   background-color: #e5e5e5;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.seats_button:disabled {
   background: #928f94;
   color: #ffffff;
}

.order_options {
   position: relative;
   margin-bottom: 285px;
}