*, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

body{
width: 100%;
font-family: 'Roboto';

font-size: 30px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.container{
  width: 1112px;
  margin: 0 auto 0 auto;
}
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
z-index: 0;
 
}

.App{
  display: flex;
  flex-direction: column;
}
